$defaultFontSize: 16px;

$gold-color: gold;
$silver-color: silver;
$bronze-color: #cc8e34;
$menuItem-Color: black;
$sideMenu-Color: white;
$hunter-hexColor: #20c028;
$hunter-hexErrorColor: #36c22f;

$menuItemHoverTransparency: 0.1;
$sideMenuTransparency: 0.7;
$sideMenuItemHoverTransparency: 0.5;

$menuItemHoverPadding: 2rem;
$sideMenuHeaderMargin: 1rem;
$sideMenuItemHoverPadding: 1.5rem;

$gridHeader-MinHeight: 35px;
$gridHeader-MaxHeight: 60px;
$gridHeaderImage-MinHeight: 30px;
$gridHeaderImage-MaxHeight: 55px;

$leaflet-ContentHeightWidth: 100%;
$leaflet-Height: 60vh;
$dateTimePicker-Height: 40vh;
$siteGrid-Height: 100vh;

html {
  font-size: $defaultFontSize !important;
}

#mapContainer {
  height: $leaflet-Height;
}

#dateTimePickerContainer {
  height: $dateTimePicker-Height;
}

.leaflet-container {
  height: $leaflet-ContentHeightWidth;
  width: $leaflet-ContentHeightWidth;
}

.siteGrid {
  height: $siteGrid-Height;
}

.left.aligned.column,
a,
.logoImage,
.right.aligned.column {
  height: calc(100% * 1.2) !important;
  min-height: $gridHeaderImage-MinHeight !important;
  max-height: $gridHeaderImage-MaxHeight !important;
}

.gridHeader {
  min-height: $gridHeader-MinHeight !important;
  max-height: $gridHeader-MaxHeight !important;
}

.gridContent {
  max-height: calc(100vh - #{$gridHeader-MinHeight}) !important;
  min-height: calc(100vh - #{$gridHeader-MaxHeight}) !important;
}

.ui.card {
  margin: 0.5rem !important;

  > .content {
    padding: 0.5rem !important;

    > .description {
      margin-top: 0 !important;
    }

    > .header > .ui.text.menu {
      margin: -0.5rem 1rem !important;
    }
  }
}

.ui.inverted.vertical.labeled.icon.ui.overlay.right.thin {
  &.visible.sidebar.menu {
    color: $sideMenu-Color;
    background: rgba($hunter-hexColor, $sideMenuTransparency);
  }
  &.animating.sidebar.menu {
    color: $sideMenu-Color;
    background: rgba($hunter-hexColor, $sideMenuTransparency);
  }
}

.ui.segment {
  border: none !important;
  box-shadow: none !important;
}

.menuHeader {
  color: $hunter-hexColor;
  font-weight: bolder !important;
}

.menuItem {
  color: $menuItem-Color !important;
  font-weight: lighter !important;
  font-style: italic !important;
  &:hover {
    background: rgba($hunter-hexColor, $menuItemHoverTransparency) !important;
    padding-left: $menuItemHoverPadding !important;
  }
}

.sideMenuHeader {
  color: $sideMenu-Color !important;
  margin-top: $sideMenuHeaderMargin !important;
  font-weight: bolder !important;
}

.sideMenuItem {
  color: $sideMenu-Color !important;
  font-weight: lighter !important;
  font-style: italic !important;
  &:hover {
    background: rgba($hunter-hexColor, $sideMenuItemHoverTransparency) !important;
    padding-left: $sideMenuItemHoverPadding !important;
  }
}

.userScoreName {
  font-weight: bold;
}

.goldenTrophy {
  color: $gold-color;
}

.silverTrophy {
  color: $silver-color;
}

.bronzeTrophy {
  color: $bronze-color;
}

.errorBackground {
  background: $hunter-hexErrorColor;
}
