$defaultFontSize: 16px;

$goldColor: gold;
$silverColor: silver;
$bronzeColor: #cc8e34;
$menuItemColor: black;
$sideMenuColor: white;
$hunterColor: #20c028;
$hunterErrorColor: #36c22f;

$menuItemHoverTransparency: 0.1;
$sideMenuTransparency: 0.9;
$sideMenuItemHoverTransparency: 0.5;

$menuItemHoverPadding: 2rem;
$sideMenuHeaderMargin: 1rem;
$sideMenuItemHoverPadding: 2rem;

$gridHeader-MinHeight: 35px;
$gridHeader-MaxHeight: 60px;
$gridHeaderImage-MinHeight: 30px;
$gridHeaderImage-MaxHeight: 55px;

$leaflet-ContentHeightWidth: 100%;
$leaflet-Height: 60vh;
$dateTimePicker-Height: 40vh;
$siteGrid-Height: 100vh;


html {
  font-size: $defaultFontSize !important;
}

#mapContainer {
  height: $leaflet-Height;
}

#dateTimePickerContainer {
  height: $dateTimePicker-Height;
}

.leaflet-container {
  height: $leaflet-ContentHeightWidth;
  width: $leaflet-ContentHeightWidth;
}

.siteGrid {
  height: $siteGrid-Height;
}

.left.aligned.column,
a,
.logoImage,
.right.aligned.column {
  height: calc(100% * 1.2) !important;
  min-height: $gridHeaderImage-MinHeight !important;
  max-height: $gridHeaderImage-MaxHeight !important;
}

.gridHeader {
  min-height: $gridHeader-MinHeight !important;
  max-height: $gridHeader-MaxHeight !important;
}

.gridContent {
  max-height: calc(100vh - #{$gridHeader-MinHeight}) !important;
  min-height: calc(100vh - #{$gridHeader-MaxHeight}) !important;
}

.modal > .header{
  font-size: 1.5rem !important;
  color: $hunterColor !important;
}

.ui.card {
  margin: 0.5rem !important;

  > .content {
    padding: 0.5rem !important;

    > .description {
      margin-top: 0 !important;
    }

    > .header > .ui.text.menu {
      margin: -0.5rem 1rem !important;
    }
  }
}

%sidebar{
  color: $sideMenuColor;
  background: rgba($hunterColor, $sideMenuTransparency);
}

.ui.inverted.vertical.labeled.icon.ui.overlay.right{
  &.thin {
    &.visible.sidebar.menu {
      @extend %sidebar;
    }
    &.animating.sidebar.menu {
      @extend %sidebar;
    }
  }
  &.wide {
    &.visible.sidebar.menu {
      @extend %sidebar;
    }
    &.animating.sidebar.menu {
      @extend %sidebar;
    }
  }
}

.ui.segment {
  border: none !important;
  box-shadow: none !important;
}

.menuHeader {
  color: $hunterColor !important;
  font-weight: bolder !important;
  padding: 0 !important;
  > .ui.grid > .equal.width.row > .right.aligned.four.wide.column{
    padding: 0 0.5rem 0 0.5rem !important;
    color: $hunterColor !important;
  }
}

.menuItem {
  color: $menuItemColor !important;
  font-weight: lighter !important;
  font-style: italic !important;
  &:hover {
    background: rgba($hunterColor, $menuItemHoverTransparency) !important;
    padding-left: $menuItemHoverPadding !important;
  }
}

.sideMenuHeader {
  color: $sideMenuColor !important;
  margin-top: $sideMenuHeaderMargin !important;
  font-weight: bolder !important;
}

.sideMenuItem {
  color: $sideMenuColor !important;
  font-weight: lighter !important;
  font-style: italic !important;
  &:hover {
    background: rgba($hunterColor, $sideMenuItemHoverTransparency) !important;
    padding-left: $sideMenuItemHoverPadding !important;
  }
}

.infoHeader, .ui.container > .ui.header{
  color: $hunterColor !important;
  margin-bottom: 0.5rem;
}

.step {
  color: $hunterColor !important;
  padding: 1rem !important;
  font-size: 0.8rem !important;
  border-width: thin !important;
  border-style: solid !important;
  border-color: $hunterColor !important;
  &::after{
    border-color: $hunterColor !important;
  }
}

.userScoreName {
  font-weight: bold;
}

.goldenTrophy {
  color: $goldColor;
}

.silverTrophy {
  color: $silverColor;
}

.bronzeTrophy {
  color: $bronzeColor;
}

.errorBackground {
  background: $hunterErrorColor;
}
